/* Global styles */

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #2b2d42;
	margin: 0;
	padding: 0;
}

hr {
	margin: 0;
	background-color: #8d99ae;
	border: none;
	height: 1px;
}

header {
	background-color: #2b2d42;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 1rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-bottom: 0.25rem;
}

header h1,
.links {
	display: flex;
	flex-direction: row;
}

header h1 {
	font-family: 'Raleway', sans-serif;
	align-self: flex-start;
	margin: 0;
	padding: 0;
	font-weight: 300;
}

header a {
	color: #edf2f4;
	text-decoration: none;
}
#title:hover {
	transition: 350ms;
	text-shadow: #edf2f4 0px 0px 1px;
}

.links {
	justify-content: space-between;
	margin: 1rem 0;
}

.links a {
	color: #8d99ae;
	padding-left: 0.9rem;
	text-decoration: none;
}

.links a:hover {
	color: #edf2f4;
	transition: 350ms;
}

.about {
	position: relative;
	top: 7rem;
	width: 75%;
	margin: 2rem auto 0 auto;
}

.subheader {
	text-align: left;
	justify-content: center;
	flex-direction: row;
}

.subheader h2 {
	font-size: 4rem;
	margin: 0;
	color: #edf2f4;
}

.words {
	font-style: italic;
	margin-top: 0.2rem;
	margin-bottom: 1.2rem;
	color: #ef233c;
	font-weight: 500;
}

.bio {
	display: flex;
	align-items: flex-start;
}

.text h3 {
	margin-top: 0;
	margin-bottom: 0.3em;
}
.text p {
	margin-top: 0;
	color: #bdc6d1;
	font-weight: 300;
}

.text {
	margin-top: none;
	padding-left: 1.2rem;
	color: #edf2f4;
}

.bio img {
	padding-top: 0.2rem;
	object-fit: scale-down;
	max-width: 200px;
	border-radius: 5px;
}

.errorcode h2 {
	font-size: 10rem;
	margin-bottom: 0.2rem;
	color: #edf2f4;
}

.errorcode p {
	font-style: italic;
	color: #bdc6d1;
	font-weight: 300;
}
.errorcode a {
	color: #ef233c;
	text-decoration: none;
}

.errorcode h3 {
	color: #edf2f4;
	margin-bottom: 2rem;
	font-size: 3rem;
}

.notfound {
	text-align: center;
	margin: auto;
}
