body {
	font-family: Arial, sans-serif;
	background-color: #2b2d42;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem 2.5rem;
}

header h1,
.links {
	display: flex;
	flex-direction: row;
}

header h1 {
	align-self: flex-start;
	margin: 0;
	padding: 0;
	font-weight: 300;
}

header a {
	color: #edf2f4;
	text-decoration: none;
}

.links {
	justify-content: space-between;
	margin: 1rem 0;
}

.links a {
	color: #8d99ae;
	padding-left: 0.9rem;
	text-decoration: none;
}

.links a:hover {
	color: #edf2f4;
}

.about {
	width: 75%;
	margin: 2rem auto 0 auto;
}

.subheader {
	text-align: left;
}

.subheader h2 {
	font-size: 4rem;
	margin: 0;
	color: #edf2f4;
}

.words {
	font-style: italic;
	margin-top: 0.2rem;
	margin-bottom: 1.2rem;
	color: #8d99ae;
	font-weight: 300;
}

.bio {
	display: flex;
}

.text {
	padding-left: 1.2rem;
	color: #edf2f4;
}
/* TODO: fix aspect ratio bug */
.bio img {
	width: 200px;
	border-radius: 5px;
}
